# ==============================
# Fortran build files
# ==============================
*.out
*.o
*.mod

# ==============================
# Generated TOV files
# ==============================
logtov_seq_geom_tidal.dat
profile.dat
asshisto_tov.dat

# ==============================
# Generated analysis plots
# ==============================
mass_radius.png
tidal_deformability.png
results/*

# Keep results directory in Git
!results/.gitkeep

# ==============================
# Python
# ==============================
__pycache__/
*.pyc

# ==============================
# macOS
# ==============================
.DS_Store
._*
